<div class="content" role="main">
    <h1>Angular Authentication Registration</h1>
    <div>name:<input type="text" [(ngModel)]="RegisterDTO.Username"></div>
    <div>Email:<input type="text" [(ngModel)]="RegisterDTO.Email"></div>
    <div>Password:<input type="password" [(ngModel)]="RegisterDTO.Password"></div>
    <button (click)="Register(RegisterDTO)">Register</button>

</div>
<br>

<div class="content" role="main">
    <h1>Angular Authentication login</h1>
    <div>Email:<input type="text" [(ngModel)]="LoginDTO.Email"></div>
    <div>Password:<input type="password" [(ngModel)]="LoginDTO.Password"></div>
    <button (click)="Login(LoginDTO)">Register</button>

</div>

<button (click)="Weather()">Weather</button>
